@{
	ViewData["Title"] = "Access Denied";
}

<div class="eror-w3">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>401</h2>
		<p>You aren't authorized'</p>
		<a href="/admin/post">Back to home</a>
	</div>
</div>