@model WebLabAI.ViewModels.ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}

<div class="art-right-w3ls">
    <h1>Forgot Password</h1>
    <form asp-action="ForgotPassword" asp-controller="User" method="post">
        <div class="main">
            <div class="form-left-to-w3l">
                <input type="text" name="name" placeholder="Email" required="">
            </div>
        </div>

        <div class="clear"></div>
        <div class="btnn">
            <button type="submit">Send</button>
        </div>
    </form>
    <div>
        <p>Back to <a asp-action="Login" asp-controller="User">Login</a></p>
    </div>
</div>

